section {
  color: white;
  margin-top: 40px;
  .section-container {
    max-width: 1000px;
    margin: auto;
    .section-title {
      font-family: Caribbean Caps;
      font-size: 16px;
      padding: 0 30px;
    }
  }
}

@media screen and (min-width: 900px) {
  .section-container {
    .section-title {
      font-size: 24px;
      padding: 0;
    }
  }
}
