.movie-details {
  .container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .movie-details {
    .container {
      padding: 100px 0px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .movie-img {
        width: 500px;
        height: auto;
      }
    }
  }
}
