.sotd-container {
  margin-top: 20px;
  .ship-img {
    max-width: 100%;
    height: auto;
  }
  .ship-desc {
    margin-top: 10px;
    padding: 0px 50px;
    .ship-title {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 900px) {
  .sotd-container {
    .ship-desc {
      padding: 0;
      .ship-title {
        font-size: 24px;
      }
    }
  }
}
