section {
  color: white;
  margin-top: 40px;
  .section-container {
    max-width: 1000px;
    margin: auto;
    .section-title {
      font-family: Caribbean Caps;
      font-size: 16px;
      padding: 0px 50px;
    }
    .sotd-container {
      margin-top: 20px;
      .ship-img {
        max-width: 100%;
        height: auto;
      }
      .ship-desc {
        margin-top: 10px;
        padding: 0px 50px;
        .ship-title {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  section {
    .section-container {
      .section-title {
        font-size: 24px;
        padding: 0;
      }
      .sotd-container {
        .ship-desc {
          padding: 0;
          .ship-title {
            font-size: 24px;
          }
        }
      }
    }
  }
}
