nav {
  background-color: var(--clr-black);
  color: #fff;
  box-shadow: #eee;

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    .logo {
      width: 8%;
      border-radius: 30%;
      // font-family: Caribbean Caps;
      // height: 40px;
      // letter-spacing: 1.5px;
      cursor: pointer;
    }

    .nav-toggle {
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      border-color: transparent;
      cursor: pointer;
    }
  }

  .links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;

    .links a {
      color: #fff;
      font-size: 1rem;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 1.5px;
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.3sec linear;
      font-weight: 500;
      &:hover {
        background-color: #fff;
        color: red;
        transition: all 0.3s linear;
        font-size: 1.06rem;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .nav-center {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;

      .nav-header {
        // padding: 1rem;

        .nav-toggle {
          display: none;
        }
      }
    }
    .links-container {
      height: auto !important;

      .links {
        display: flex;

        a {
          margin: 0 1rem;
          &:hover {
            background-color: transparent;
            border: 1px solid red;
            font-size: 1rem;
            color: #fff;
            // font-weig
            // padding: 0;
          }
        }
      }
    }
  }
}
